snippet main "My main" b
int main()
{
    $0
    return 0;
}
endsnippet

snippet cout "My cout" b
cout << ${1:"$2"};$0
endsnippet

snippet if "My if" b
if($1)
{
    $2
}$0
endsnippet

snippet sec "section" b
// ============== $0 ================
endsnippet 

snippet cin "My cin" b
cin >> $0;
endsnippet 
