snippet set "Comment Seting"

" ######### ${1:New Setting} ##########
${0}
endsnippet

snippet Box "Box"
`!p snip.rv = '"==='+ '='* (len(t[ 1]) + 2) + '==='`
"### $1 ###
`!p snip.rv = '"==='+ '='* (len(t[ 1]) + 2) + '==='`
$0
endsnippet
